---
layout: nil
---

/** Global styles **/


a, a:active, a:visited {
    text-decoration: none;
    border-bottom: 1px gray dashed;
    font-weight:initial;
    font-style:italic;
    color: gray;
}

/** Headers **/

h1 {
    text-align: center;
    font-size: 1.5em;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h2 {
    text-align: left;
    font-size: 1.3em;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h3 {
    text-align: left;
    font-size: 1.2em;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
    font-size: 1em;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/** Header Section **/

.Layout16_header {
    width:100%;
    text-align:center;
    font-size:2em;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    padding-top: 0.5em;
}

.Layout16_header a {
    text-decoration: none;
    font-weight: normal;
    font-style:normal;
    border:none;
}

/** Navigation & Footer Section **/

.Layout16_5, .Layout16_1 { 
    width:100%;
    float:left;
    text-align:center;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px black dashed;
    border-top: 1px black dashed;
}

/** Navigation Linking **/

.Layout16_1 ul {
    display: inline;
    list-style: none;
    margin-left: 0em;
}

.Layout16_1 ul li {
    display: inline;
    padding-right: 1em;
    padding-left:1em;
    border-left: 1px dashed black;
}

.Layout16_1 ul li:first-child {
    border-left: none;
}

/** Left & Right Columns */

.Layout16_2, .Layout16_4 {
    width:20%;
    float:left; 
    min-height:200px; 
}

/** Right Column **/

.Layout16_4 h3 {
    text-align:center;
    text-decoration:underline;
}

.Layout16_4 span {
    display: block;
    width:90%!important;
    text-align: center;
    padding: 1em 0em 1em 0em;
}

.Layout16_4 ul, .Layout16_4 li {
    font-size: 1em;
    display: inline;
    -moz-border-radius: 2em;
    border-radius: 2em;
    border-left: 1px dashed gray;
    border-bottom: 1px dashed gray;
    padding: 1em;
}

.Layout16_4 a {
    text-decoration: none;
    border-bottom: none;
    font-weight:initial;
    font-style:normal;
    color: white;
}

.Layout16_4 a:hover {
    border-bottom: 1px white dashed;
}

/** Main Content Section **/

.Layout16_3{
    width:60%;
    float:left; 
    min-height:200px; 
}

/** Post Navigation **/

ul.page-navigation {
    display: block;
    list-style: none;
    margin-left: 0em;
    width: 100%!important;
    text-align: center;
}

ul.page-navigation li {
    display: inline;
    padding-right: 1em;
    padding-left:1em;
    border-left: 1px dashed black;
}

ul.page-navigation li:first-child {
    border-left: none;
}
