---
layout: nil
---

/** Global styles **/


a, a:active, a:visited {
text-decoration: none;
border-bottom: 1px gray dashed;
font-weight:initial;
font-style:italic;
color: gray;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

h2 {
    text-align: left;
    font-size: 1.3em;
}

h3 {
    text-align: left;
    font-size: 1.2em;
}

body {
    font-size: 1em;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.Layout16_header {
    width:100%;
    text-align:center;
    font-size:2em;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    padding: 0.5em 0em 0.5em 0em;
}

.Layout16_5 {
    width:100%;
    text-align:center;
    padding: 0.5em 0em 0.5em 0em;
    float: left;
}

.Layout16_header a {
    text-decoration: none;
    font-weight: normal;
    font-style:normal;
    border:none;
}

/*navigation bar*/
.Layout16_1{ 
    width:100%;
    float:left;
    text-align:center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px black dashed;
    border-top: 1px black dashed;
}

.Layout16_1 ul {
    display: inline;
    list-style: none;
    margin-left: 0em;
}

.Layout16_1 ul li {
    display: inline;
    padding-right: 1em;
    padding-left:1em;
    border-left: 1px dashed black;
}

.Layout16_1 ul li:first-child {
    border-left: none;
}

/*Left & right buffers */
.Layout16_2, .Layout16_4 {
    width:20%;
    float:left; 
    min-height:200px; 
}

/* Main content */
.Layout16_3{
    width:60%;
    float:left; 
    min-height:200px; 
}
