<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link href="/css/Primary.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <div class=templateholder>
      <div class=Layout16_header>jmagas.github.io</div>
      <div class=Layout16_1 >
         <!-- TODO Loop through menu items and build navigation -->
      </div>
      <div class=Layout16_2 >
         <!-- TODO Left bar -->
      </div>
      <div class=Layout16_3 >
        {{ content }}
      </div>
      <div class=Layout16_4 >
         <!-- TODO Right bar -->
      </div>
      <div class=Layout16_5 >
         <!-- TODO Footer -->
      </div>
  </div>
  </body>
</html>
